
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: lightgray;
    height: 100%;
}

/* navbar styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0%;
    padding-inline-end: 40px;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    padding-left: 10%;
    font-size: 25px;
    color:black;
    text-decoration: none;
    font-weight: 900;
    pointer-events: none;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    font-size: 18px;
    display: block-inline;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 35px;
}

.navbar {
    padding-right: 5%;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*dropdown menu */

.navbar .toggle_btn {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor:  pointer;
    display: none; 
}

li > a {
    color: #000;
    font-weight: 600;
}

li > a:hover {
    background: linear-gradient(45deg, #f06, #3cf );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.dropdown_menu  {
    position: absolute;
    height: 0;
    top: 70px;
    background: rgb(211, 211, 211);
    border-radius: 0px;
    overflow: hidden;
}


.dropdown_menu li {
    position: relative;
    display: flex;
    color: #000;
    align-items: center;
    font-size: 33px;
    justify-content: center;
    text-decoration: none;
    padding: 0.875rem 1.875rem;
    text-transform: uppercase;

}


.dropdown_menu.open {
    position: absolute;
    height: 100vh;
    width: 100%;
    transition: .2s ease-in-out;
}




/* first block */

body > * {
    flex-basis: 50%;
}

.first-block {
    display: flex;
    flex-wrap: wrap;
    background-image: url(assets/hatter.png);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    top: 100px;
}


.left-container {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10% 10% 10%;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 5%;
}

span {
    background: linear-gradient(45deg, #f06, #3cf );
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    -webkit-background-clip: text;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5%;
}

.btn a {
    position: relative;
    display: inline-flex; 
    align-items: center;
    width: 180px;
    height: 42px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #000;
    color: lightgrey;
    justify-content: center;
    width: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

.btn:hover a {
    background: linear-gradient(45deg, #f06, #3cf );
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;

}


.social {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.social i {
    font-size: 26px;
    justify-content: center;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    padding: 0.5rem;
    background: black;
    margin: 0.5rem;
}

.fb:hover i {
    background: linear-gradient(45deg, #f06, #3cf );
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;

  
}
.insta:hover i {
    background: linear-gradient(45deg, #f06, #3cf );
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;

}
.tiktok:hover i {
    background: linear-gradient(45deg, #f06, #3cf );
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.right-container {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(assets/homeself.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:contain
}

/*second block */



.second-block {
    background:linear-gradient(180deg, rgb(211, 211, 211), rgb(0, 0, 0) );
    max-height: 400px;
    width: 100%;
  
}

.second-text {
    padding: 10% 10% 10% 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;

}

h2 {
    color: lightgray;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 3rem;
}

.first-hr {
    width: 10%;
    margin-bottom: 5%;

}

p {
    color: lightgray;
}

.second-text-span {
    font-size: 3rem;
}

/*third block */

.third-block {
    background:black;
    width: 100%;
    height: 100wv;
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(0,0,0,1) 30%);
}


.third-text {
    position: relative;
    text-align: center;
}

.third-h2 {
    font-size: 3rem;
    color: lightgray;
    padding: 10% 10% 3% 10%;

}

p {
    color: lightgray;
}

/*boxes block */

.boxes {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.box {
    position: relative;
    display: inline-block;
    border-radius: 16px;
    margin: .3%;
    height: 300px;
    width: 200px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.musictext {
    text-align: left;
    font-size: 16px;
    padding-left: 5%;
    font-weight: 600;
}

.musictitlebox {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.musictitle {
    width: 50%;
    display: inline-block;
    font-size: 12px;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.time {
    width: 40%;
    display: inline-block;
    text-align: right;
    font-size: 12px;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.line {
    border-top: 1px solid #lightgray;
    margin-left: 5%;
    margin-right: 5%;
    opacity: .2;
}

.tomodell {
    width: 100%;
    padding: 5%;
    border-radius: 16px;
}

.kiskep {
    width: 20px;
    border-radius: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    display: flex;
}

.subtitle {
    width: 150px;
    font-size: 8px;
    margin-left: 5px;
    vertical-align: middle;
    text-align: left;
}

/*responsive style */

@media (max-width: 576px) {
    .first-block  > * {
        flex-basis: 100%;
    }
    .left-container {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem; 
    }
    .right-container  {
        width: 100%;
        height: 100vw;
        margin-left: 25%;
        margin-bottom: 5rem; 

    }
    .second-block {
        padding-top: 10%;
        height: 100%;
    }
    h2  {
        padding-bottom: 10%;
        font-size: 2rem;
    }

    .second-text-span {
        font-size: 2rem;
    }

    .second-text {
        padding-bottom: 40%;

    }
    .third-h2 {
        font-size: 2rem;
        padding-bottom:10%;
    }

    .box {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

.tomodell {
    border-radius: 22px;
}

    }



@media (max-width: 992px) {
    .navbar .link,
    .navbar
    .action_btn {
     display: none; 
    }  
   .navbar .toggle_btn{
       display: block;
   } 
   .dropdown_menu {
      display: block;

   }
}
@media (min-width: 992px){
    .dropdown_menu  { 
        display: none;
    }
}

@media (max-width: 992px) {
    .dropdown_menu {
        width: 100vw;
       display: flex;
       flex-direction: column;
       gap: 30px;
       
    }
}

@media (max-width: 576px){
   .dropdown_menu {
       width: 100vw;
       display: flex;
       flex-direction: column;
       gap: 30px;
   }
}